.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.nav-links {
    display: flex;
}

.nav-links li {
    padding: 0 1rem;
}

.nav-links li a {
    font-size: 1.2rem;
    font-weight: 500;
}

.hamburger {
    display: none;
}

.logo {
  width: 80px;
  height: auto;
  display: inline-block;
  filter:
    drop-shadow(0 0 10px #4741f4)
    drop-shadow(0 0 30px #03a9f4);
}

.nav-links li a.active {
  color: #4741f4;
}
.nav-links li a:hover {
  color: #4741f4;
  transition: color 0.3s ease-in-out;
}