.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.nav-links {
    display: flex;
}

.nav-links li {
    padding: 0 1rem;
}

.nav-links li a {
    font-size: 1.2rem;
    font-weight: 500;
}

.hamburger {
    display: none;
}


@media screen and (max-width: 1040px) {
    .nav-links {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background: rgba(21, 21, 21, 0.95);
        position: absolute;
        top: 0;
        left: -100%;
        z-index: -3;
        transition: 0.3s ease-in-out;
    }

    .nav-links.active {
        left: 0;
        z-index: 1;
    }

    .nav-links li {
        padding: 1rem 0;
    }
    .nav-links li a {
        font-size: 2rem;
    }

    .hamburger {
        display: initial;
        cursor: pointer;
        position: absolute;
        top: 3.5rem;
        right: 2rem;
        z-index: 10;
    }
}
